@model IEnumerable<BirdRecord.Services.Bird>

@{
    ViewBag.Title = "GetRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetRecord</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistTravelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigratingFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigratingTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistTravelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigratingFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigratingTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
