@model BirdsRecord.Services.Bird

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bird</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistTravelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistTravelled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MigratingTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MigratingTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MigratingFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MigratingFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTaken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
